@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400&family=Raleway&display=swap');

:root {
  --second-color-dark: #a09a8d;
  --second-color-darker: #c2bdb2;
  --second-color: #e5e1d8;
  --second-color-lighter: #fdfaf2;

  --main-color: #656462;
  --main-color-light: #7a7977;
  --main-color-darker: #565553;
  --main-color-dark: #474644;

  --accent-color: cornflowerblue;

  --font-serif: 'Playfair Display', serif;
  --font-sans-serif: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* font-family: 'Playfair Display', serif; */
  font-family: var(--font-serif);
  color: var(--main-color);
  background-color: var(--second-color);
}

button {
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.3rem;
  transition: 0.3s;
}
button:hover {
  cursor: pointer;
  color: var(--second-color-lighter);
  background-color: var(--accent-color);
}
button:active {
  border-color: var(--second-color-lighter);
}

img {
  display: block;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}

.wrapper {
  padding: 2rem 1rem 0;
  margin: 0 auto;
  max-width: 900px;
  height: 100%;
}

.footer {
  /* color: #d1cdcd; */
  text-align: center;
  width: 100%;
  padding: 1rem 0;
}

.title {
  font-size: 2.9rem;
  /* text-transform: uppercase; */
  text-align: center;
  margin: 1rem 0;
}

.menu {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.search-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.search-label {
}

.search-input {
  width: 20rem;
  border: none;
  padding: 0.5rem;
}
.error-input {
  border: 1px solid rgb(176, 1, 1);
}

.search-btn {
  text-transform: uppercase;
}

.navigation-pages {
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}

.current-page {
  /* padding: 0.5rem; */
}

.total-page {
  padding-right: 1rem;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.content--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem 2rem;
  background-color: var(--second-color-lighter);
}

.card-tag {
  position: absolute;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

.card__pillar-name {
  width: 4.5rem;
  text-align: center;
  top: 0;
  left: 0;
  background-color: var(--second-color-dark);
  color: var(--second-color-lighter);
}

.card__section-name {
  top: -0.3rem;
  left: 4rem;
  font-size: 0.7rem;
  font-family: var(--font-sans-serif);

  background-color: var(--accent-color);
  color: var(--second-color-lighter);
}

.card__date {
  position: absolute;
  top: 0.5rem;
  right: 0.6rem;
  font-size: 0.9rem;
  display: inline-block;
  font-style: italic;
}

.card__content {
  padding-top: 0.5rem;
}

.card__title {
  font-size: 1.1rem;
}

.card__link {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
